<div class="container movie-list-container mt-5">
  <h1 class="mb-5">Search Results for: <strong>{{query}}</strong></h1>
  <div class="movie-list-wrapper d-flex flex-wrap" *ngIf="movies; else loading ? loadingSearch : noSearchResults">
    <app-movie-list-item
      *ngFor="let movie of movies"
      [movie]="movie"
    ></app-movie-list-item>
  </div>
  <ng-template #loadingSearch>
    <div class="container display-2 movie-list-container p-5 mt-5">
      <h1 class="text-info text-center">loading...</h1>
    </div>
  </ng-template>

  <ng-template #noSearchResults>
    <div class="container display-4 movie-list-container p-5 mt-5">
      <h1 class="text-red p-5 e-75 mx-auto text-center">Sorry! We couldn't find what you are looking for</h1>
    </div>
  </ng-template>
</div>

