<div class="wrapper-item mb-5">
  <div class="movie-image d-flex">
    <img [src]="movie.poster" alt="" class="img-fluid">

    <div class="movie-hover-backdrop">
      <a
        routerLink="/movie/details" class="bg-red text-white details-btn px-4 p-3"
        (click)="onSelectMovie()"
      >
        View Details
      </a>
    </div>
  </div>
  <div class="movie-mini-detail row p-2 py-3">
    <div class="col-10 pl-3">
      <h2 class="movie-name">{{movie.title.length <= 11 ? movie.title :movie.title.substr(0,11)+ '...'}}</h2>
      <ul class="movie-genre-list">
        <li *ngFor="let genre of movie.genres">{{genre}}</li>
      </ul>
    </div>
    <div class="col-2">
      <div class="rating-icon text-center">
        <svg id="svg-favorite" xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 30.015 26.485">
          <path
            id="rate"
            d="M25.4,4.29a7.165,7.165,0,0,0-3.735-1.037,8.854,8.854,0,0,0-7.055,3.99l-.108.146-.108-.146a8.864,8.864,0,0,0-7.058-3.99A7.154,7.154,0,0,0,3.6,4.29C.211,6.352-1.71,11.433,2.08,17.714c.383.6,3.98,6.046,12.26,10.978a.3.3,0,0,0,.159.045.307.307,0,0,0,.161-.046c8.454-5.039,12.107-10.745,12.257-10.984C30.711,11.431,28.789,6.352,25.4,4.29Z"
            transform="translate(0.508 -2.753)"
            [ngStyle]="movie.favorite ?
              {fill: '#7a7a7a', stroke: '#7a7a7a' , 'stroke-width': 1 } :
              {fill: '#ffffff', stroke: '#7a7a7a', 'stroke-width': 2 }"
            />
        </svg>
      </div>
    </div>
  </div>
</div>
