<div class="d-flex justify-content-center mb-4">
    <a routerLink="/upcoming" class="btn btn-outline-white text-white d-block mx-3">Upcoming</a>
    <a routerLink="/favourites" class="btn btn-outline-white text-white d-block mx-3">Favorites</a>
</div>
<form class="col-12 search-bar-wrapper d-flex">
  <div class=" form-group search-input-box rounded-left">
      <label for="search-input" class="d-none"></label>
      <input id="search-input" type="text" class="form-control shadow-none rounded-left rounded-left-0" placeholder="search here for movies">
  </div>
  <button type="submit" class=" form-group border-0 px-5 search-btn-box position-absolute text-white bg-black rounded-right">
    Search
  </button>
</form>
